<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunsheng.huiyuanhui.mapper.ShopMemberMapMapper">
    <resultMap id="BaseResultMap" type="com.yunsheng.huiyuanhui.model.ShopMemberMap">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="member_id" jdbcType="INTEGER" property="memberId"/>
        <result column="money" jdbcType="DOUBLE" property="money"/>
        <result column="point" jdbcType="INTEGER" property="point"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, shop_id, member_id, money, point, type, create_time
    </sql>
    <sql id="query_Where_Clause">
        <where>
            <if test="shopId != null">
                AND shop_id = #{shopId,jdbcType=VARCHAR}
            </if>
            <if test="memberId != null">
                AND member_id = #{memberId,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop_member_map
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM shop_member_map
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.yunsheng.huiyuanhui.model.ShopMemberMap">
        INSERT INTO shop_member_map (id, shop_id, member_id,
                                     money, point, type,
                                     create_time)
        VALUES (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER},
                #{money,jdbcType=DOUBLE}, #{point,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.yunsheng.huiyuanhui.model.ShopMemberMap">
        insert into shop_member_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="point != null">
                point,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                #{money,jdbcType=DOUBLE},
            </if>
            <if test="point != null">
                #{point,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.yunsheng.huiyuanhui.model.ShopMemberMap">
        update shop_member_map
        <set>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DOUBLE},
            </if>
            <if test="point != null">
                point = #{point,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yunsheng.huiyuanhui.model.ShopMemberMap">
        UPDATE shop_member_map
        SET shop_id     = #{shopId,jdbcType=INTEGER},
            member_id   = #{memberId,jdbcType=INTEGER},
            money       = #{money,jdbcType=DOUBLE},
            point       = #{point,jdbcType=INTEGER},
            type        = #{type,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectBySelective">
        select
        <include refid="Base_Column_List"/>
        from shop_member_map
        <include refid="query_Where_Clause"/>
    </select>

</mapper>